extends ../layout

block content
  h1 Showing Album: #{album.album}
  h4(id="showGenre") Genre: #{album.genre}
  h4(id="showArtist") Artist: #{album.artist}
  a(href="/albums/"+album.album+"/edit" id="editButton") Edit
  form()
    a(href="/albums/"+album.album+"/delete" id="deleteButton") Delete
